<div class="banner">
  <div class="heading">
    <p class="title">Bookmark Buddy</p>
  </div>
  <div class="welcome">
    <button class="btn sign-up">
      <%= link_to "Sign Up", new_user_registration_path, class: "btn-xlarge" %>
    </button>
    <br />
    <button class="btn sign-in">
      <%= link_to "Sign In", new_user_session_path, class: "btn-xlarge" %>
    </button>
  </div>
</div>
<div class="copy">
  <p>
    Been <em>crawling</em> through the <b>dungeons of the internet?</b><br />
    Finding lots of <em>sweet</em> bookmark loot? <br />
    <b>SAVE</b> and <b>SHARE</b> your best bookmarks here!!
  </p>
</div>
