<div class="banner">
  <div class="heading">
    <h1>Bookmark Buddy</h1>
  </div>
  <div class="welcome">
    <button class="btn-success">
      <%= link_to "Sign Up", new_user_registration_path, class: "btn-xlarge" %>
    </button>
    <br />
    <button class="sign-in">
      <%= link_to "Sign In", new_user_session_path, class: "btn-xlarge" %>
    </button>
  </div>
</div>
