/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
<<<<<<< HEAD:app/assets/stylesheets/application.scss
 @import "bootstrap-sprockets";
 @import "bootstrap";

 .btn-xlarge {
     padding: 28px 50px;
     height: 50px;
     font-size: 50px; //change this to your desired size
     line-height: normal;
     -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
             border-radius: 8px;
 }
||||||| merged common ancestors
=======
 @import "bootstrap-sprockets";
 @import "bootstrap";
>>>>>>> 01ffed4dc4e541e9ff46eb6f97558c7fd1ede8c7:app/assets/stylesheets/application.scss
