.owned-bookmarks {
  background-color: #DB3069;
  margin-bottom: 10px;
  border-radius: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.liked-bookmarks {
  background-color: #F5D547;
  margin-bottom: 10px;
  border-radius: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.user-home-page {
  color: #1446A0;
}
